[submodule "AppBuilder/Airlines"]
	path = AppBuilder/Airlines
	url = https://github.com/shoerob/AirlinesApp.git
[submodule "AppBuilder/Friends"]
	path = AppBuilder/Friends
	url = https://github.com/shoerob/FriendsApp.git
